.body-bg{
    background: #fff;
}
.fixed-right {
    position: fixed;
    z-index: 9999;
    right: 5px;
    transform: translateY(-50%);
    top: 50%;
    width: 50px;
    text-align: center;
    overflow: hidden;
}
.fixed-right a {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.fixed-right a.phone {
    border-radius: 50%;
    background: #64bc46;
    padding: 6px;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
}
@-moz-keyframes quick-alo-circle-img-anim {
    0% {
        transform:rotate(0) scale(1) skew(1deg);
    }
    10% {
        -moz-transform:rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -moz-transform:rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -moz-transform:rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -moz-transform:rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -moz-transform:rotate(0) scale(1) skew(1deg);
    }
    100% {
        -moz-transform:rotate(0) scale(1) skew(1deg);
    }
}

@-webkit-keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes quick-alo-circle-img-anim {
    0% {
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}
.status.waiting {
    padding: 2px 4px;
    background: grey;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.return {
    padding: 2px 4px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
